@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');
/**********
CSS RESET 
**********/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**********
CUSTOM CSS 
**********/
body {
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

button {
  cursor: pointer;
  display: inline-block;
  color: #9495a5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.light {
  color: #393a4b;
  background-color: #fafafa;
}

.dark {
  color: #c8cbe7;
  background-color: #171823;
}

.todo-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'heading toggle'
    'input input';
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.todo-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  grid-area: heading;
  font-size: 40px;
  color: #ffffff;
}

.toggle {
  grid-area: toggle;
  justify-self: flex-end;
}

.todo-input {
  grid-area: input;
  margin-top: 35px;
  margin-bottom: 15px;
}

.todo-input input {
  width: 100%;
  display: block;
  padding: 20px 24px;
  font-size: 1rem;
  line-height: 1.5;
  color: #9495a5;
  background-color: #fff;
  border: 1px solid #e3e4f1;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dark .todo-input input {
  background-color: #25273d;
  border: 1px solid #1f2133;
}

.edit-input {
  grid-area: input;
  margin-top: 35px;
  margin-bottom: 15px;
}

.edit-input label {
  display: flex;
}

.edit-input input {
  width: 100%;
  display: block;
  padding: 20px 24px;
  font-size: 1rem;
  line-height: 1.5;
  color: #9495a5;
  background-color: #fff;
  border: 1px solid #e3e4f1;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dark .edit-input input {
  background-color: #25273d;
  border: 1px solid #1f2133;
}

.btn-update {
  margin-left: 5px;
  background-color: #258c53;
  color: #fff;
}

.btn-update:hover {
  background-color: #7cba98;
}

.btn-cancel {
  margin-left: 5px;
  background-color: #ff293b;
  color: #fff;
}

.btn-cancel:hover {
  background-color: #ff6976;
}

.todo-btn {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border: 1px solid #e3e4f1;
  margin-right: 14px;
}

.todo-btn:hover {
  border: 1px solid #707070;
}

.todo-btn__check {
  display: grid;
  justify-content: center;
}

.todo-completed .todo-btn {
  background: linear-gradient(to right bottom, #55ddff, #c058f3);
  border: 1px solid #fff;
}

.dark .todo-completed .todo-btn {
  background: linear-gradient(to right bottom, #55ddff, #c058f3);
  border: 1px solid #25273d;
}

.todo-btn__container {
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
}

.todo-delete,
.todo-edit {
  height: 24px;
  width: 24px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}

.todo-delete__icon,
.todo-edit__icon {
  display: grid;
  justify-content: center;
}

.todo-completed {
  text-decoration: line-through;
  color: #d1d2da;
}

.dark .todo-completed {
  color: #4d5067;
}

.todo-list {
  width: 100%;
  margin-top: -35px;
  border-radius: 0.25rem;
  background-color: #fff;
}

.dark .todo-list {
  background-color: #25273d;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 20px 24px;
  border-bottom: 1px solid #e3e4f1;
}

.dark .todo-item {
  border-bottom: 1px solid #393a4b;
}

.todo-filters {
  width: 100%;
  grid-area: todo-filters;
  display: grid;
  grid-template-areas: 'text text all active completed clear clear';
  align-items: center;
  padding: 10px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0px 15px 20px #c2c3d6;
}

.dark .todo-filters {
  background-color: #25273d;
  box-shadow: 0px 15px 20px #000;
}

.todo-filters__text,
.todo-filters__all,
.todo-filters__active,
.todo-filters__completed,
.todo-filters__clear {
  font-size: 14px;
  padding: 0;
}

.todo-filters__all,
.todo-filters__active,
.todo-filters__completed {
  font-weight: bold;
}

.todo-filters__text {
  grid-area: text;
}

.todo-filters__all {
  grid-area: all;
}

.todo-filters__active {
  grid-area: active;
}

.todo-filters__completed {
  grid-area: completed;
}

.todo-filters__clear {
  grid-area: clear;
}

.active-link {
  color: #3a7cfd;
}
